.jumbotron {
    border: black 5px;
    width: 50%;
    margin: 30%;
    margin-top: 20%;
}

.icons a {
    float: right;
    margin: 5px;

}

.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    clear: left;
}

.lead {
    float: left;
    text-align: center;

}

h1 {
    display: inline-block;
}

p {
    text-align: right;
    float: right;
}

.offcanvas-body a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.bottomicons {
    margin-top: 200px;
}