.jumbotron {
    border: black 5px;
    width: 40%;
    margin: 10%;
    align-self: center;
    margin-left: 30%
}

.icons a {
    float: right;
    margin: 5px;
}

.card {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1.5%;
    clear: left;
}

.container {
    display: block;
    text-align: center;
}

h1 {
    display: inline-block;
    text-align: center;
}

h3 {
    float: left;
    align-self: center;
    width: 100%;
}

.card p {
    text-align: right;
    float: right;
}

#listname {
    text-align: center;
    margin-bottom: 25px;
}

.offcanvas-body a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.offcanvas-body a:hover {
    color: gray;
}

#imgcontainer {
    width: 50%;
}

#monmon {
    display: flex;
    justify-content: center;
}

#monmon #monmonimage {
    width: 200px;
}

.bottomicons {
    margin-top: 200px;
}

.rounded-3 {
    border-radius: var(--bs-border-radius-lg)0.5;
    width: 500px;
    height: 230px;
    margin: auto;
}

.progress {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

#hero-carousel button {
    background-color: gray
}

#hero-carousel button:hover {
    background-color: black;
}

.avatar-xl img {
    width: 110px;
}

.rounded-circle {
    border-radius: 50% !important;
}

img {
    vertical-align: middle;
    border-style: none;
}

.text-muted {
    color: #aeb0b4 !important;
}

.text-muted {
    font-weight: 300;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #4d5154;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eef0f3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Milestone page styling */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    font-size: 13px;
    ;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
    padding: 16px 14px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#number_of_tasks {
    display: flex;
    justify-content: center;
}



/*Mobile Screen*/
@media screen and (max-width: 650px) {
    h3 {
        width: 100%;
        float: left;
        text-align: center;
        margin-right: 200px;
        display: block;
    }

    .container {
        text-align: auto;
    }

    .rounded-3 {
        clear: both;
        width: 100%;
    }

    .display-4 {
        font-size: 25px;
    }

    .time {
        font-size: 12px;
    }

    #monmon {
        display: flex;
        justify-content: center;
    }

    #monmonname {
        text-align: center;
    }

    .carousel-control-prev {
       height: 100%;
       display:none;
    }
    
    .carousel-control-next {
        height: 100%;
        display:none; 
    }

    #hero-carousel {
        margin-top: 120px;
        margin-bottom: 15px;
    }

    #number_of_tasks {
        display: flex;
        justify-content: center;
    }

    .rounded-3 {
        clear: both;
        width: 100%;
    }

    #task1, #task2, #task3 {
        font-size: 40px;
    }

}